p {
    background-color: pink;
    color: Black; 
}

h1 {
    background-color: black;
    color: white;
}

div.speciaal:hover { background: green; }
div.speciaal:hover { background: red; }

div { border: 10px solid green; }
div {
    margin: 30px;
}
.value:hover {
        border-width: 3px;
}
#MyRect:hover {
    stroke: black;
    fill: blue;
  }

  #MyRect {
    fill: red;
    stroke: black;
  }

#sws {
    fill: red;
    stroke: black;
}